:root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#tooltip {
  z-index: 999999;
  animation: zoomIn 0.3s;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
